@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* Comfortaa-VariableFont_wght */
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  line-height: 26.76px;
  src: local('Comfortaa'), url('./fonts/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
* {
  margin: 0;
}
html, body {
  margin: 0 auto;
  font-size: 16px;
  font-family: Montserrat, Serif;
  font-style: normal;
  font-weight: normal;
  color: #0B141D;
}
.container {
  padding-bottom: 96px;
  padding-left: 32px;
  padding-top: 96px;
  background: #C7DCE8;
}
.gallery-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 660px;
}
.gallery-wrap::after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  height: 70vh;
}
.galery-item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}
.galery-item:hover, .galery-item:active {
  flex: 7;
}
.galery-item-1 {
  background-image: url("img/gallery1.jpg");
}
.galery-item-2 {
  background-image: url("img/gallery2.jpg");
}
.galery-item-3 {
  background-image: url("img/gallery3.jpg");
}
.galery-lines {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  float: right;
  margin-right: 2rem;
  width: 50%;
  height: 5vh;
}
.galery-line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 50%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='3em' height='4px'><rect fill='%2300' x='0' y='0' width='50' height='2'/><rect fill='%23FDD418' x='1' y='2' width='50' height='2'/></svg>");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 1rem;
  margin-top: 2rem;
}
.timetable-header {
  margin-right: 6rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-size: 100%;
  text-align: right;
  text-transform: uppercase;
}
.timetable-line {
  margin: 2rem;
  height: 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='2' height='2'><rect fill='%23FDD418' x='0' y='0' width='2' height='2'/></svg>");
}
.timetable-wrap {
  cursor: pointer;
  padding: 0 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: space-between;
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
  -webkit-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  height: 2rem;
}
.timetable-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: center;
  align-self: center;
}
.timetable-country {
  font-size: 190%;
}
.timetable-city {
  font-size: 100%;
  text-transform: uppercase;
  color: #B4B4B4;
}
.timetable-date {
  font-family: Montserrat;
  font-size: 100%;
}
.arrow-right {
  background-image: url('data:image/svg+xml;utf8,<svg width="21" height="8" viewBox="0 0 21 8" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMaxYMin meet"><path fill="%23CDCDCD" d="M20.3536 4.35355C20.5488 4.15829 20.5488 3.84171 20.3536 3.64645L17.1716 0.464466C16.9763 0.269204 16.6597 0.269204 16.4645 0.464466C16.2692 0.659728 16.2692 0.976311 16.4645 1.17157L19.2929 4L16.4645 6.82843C16.2692 7.02369 16.2692 7.34027 16.4645 7.53553C16.6597 7.7308 16.9763 7.7308 17.1716 7.53553L20.3536 4.35355ZM0 4.5H20V3.5H0V4.5Z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  align-self: auto;
}
a {
  color: #0B141D;
}
p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0B141D;
}
p.buttontext {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #0B141D;
}
h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  color: #0B141D;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0B141D;
}
button.signup {
  width: 260px;
  height: 63px;
  background: #F8D930;
  border-color: #F8D930;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
}
ul {
  list-style: none;
  padding-left: 5px;
}
li {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0B141D;
}
ul li:before {
  content: "-";
  position: relative;
  left: -5px;
}
/* Section gallery */
section.gallery {
  position: absolute;
  width: 1200px;
  height: 852px;
  top: 1550px;
  left: 50%;
  margin-left: -600px;
  /* margin-top: -426px; */
}
/* Section timetable */
section.timetable {
  position: absolute;
  width: 1200px;
  height: 735px;
  top: 2450px;
  left: 50%;
  margin-left: -600px;
  /* margin-top -368px: */
}
/* Section price */
section.price {
  position: absolute;
  width: 1200px;
  height: 415px;
  /*margin: 80px auto;*/
  background-color: #fff;
  top: 3080px;
  left: 50%;
  margin-left: -600px;
}
div.price_images {
  float: left;
  display: inline;
  width: 710px;
}
div.price_text {
  margin-left: 742px;
}
div.price_features {
  width: 340px;
  margin-top: 0;
}
div.price_features_list {
  margin-top: 20px;
  maegin-left: 0;
}
div.price_cost {
  width: 331px;
  padding-top: 30px;
}
div.price_program {
  width: 222px;
  padding-top: 30px;
}
div.price_button {
  margin-top: 50px;
}
img.price {
  position: relative;
  height: 200px;
  margin-bottom: 15px;
  margin-right: 15px;
  vertical-align: top;
  float: left;
}
/* Blog Section */
section.blog {
  position: absolute;
  width: 1200px;
  height: 1737px;
  /* margin: 150px auto 56px auto; */
  top: 3600px;
  left: 50%;
  margin-left: -600px;
  background-color: #fff;
  background-image: url("img/blog_bg.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
div.blog_title {
  margin-left: 741px;
  width: 275px;
}
section.blog_firstentry {
  margin-top: 80px;
  height: 304px;
}
section.blog_entry {
  margin-top: 135px;
  margin-bottom: 135px;
  height: 454px;
}
section.blog_lastentry {
  margin-bottom: 135px;
  height: 553px;
}
div.left_blog_highlite {
  float: left;
  padding-top: 44px;
  margin-left: 33px;
  margin-bottom: 30px;
  width: 250px;
}
div.right_blog_highlite {
  float: right;
  padding-top: 95px;
  margin-bottom: 30px;
  margin-right: 122px;
  width: 250px;
}
div.last_blog_highlite {
  float: left;
  padding-top: 165px;
  margin-left: 387px;
  margin-bottom: 30px;
  width: 250px;
}
div.left_blog_text {
  float: left;
  margin-left: 32px;
  width: 180px;
}
div.right_blog_text {
  float: right;
  width: 250px;
  margin-right: 123px;
}
div.last_blog_text {
  float: left;
  margin-left: 390px;
  width: 262px;
}
img.blog_left {
  float: right;
  padding: 0px 0 0 0;
}
img.blog_right {
  float: left;
  padding: 0px 0 0 0;
}
div.blog_readmore {
  margin-top: 41px;
}
/* Header section */
header {
  position: absolute;
  width: 1200px;
  height: 803px;
  /* margin: 150px auto 56px auto; */
  top: 0px;
  left: 50%;
  margin-left: -600px;
  background-color: #fff;
  background-image: url("img/header_bg.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
div.menu {
  margin-top: 42px;
}
div.menu_title {
  margin-left: 33px;
  margin-right: 95px;
  display: inline-block;
}
h2.menu_title {
  color: #0B141D;
  text-shadow: 1px 1px 0px #F8D930;
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  display: inline-block;
}
div.menu_elem {
  margin-left: 25px;
  display: inline-block;
}
p.menu_elem {
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: inline-block;
}
div.icons {
  margin-left: 100px;
  display: inline-block;
}
div.icon {
  margin-left: 15px;
  display: inline-block;
}
img.icon {
  height: 18px;
}
div.highlite {
  position: absolute;
  top: 207px;
  left: 31px;
}
h1.highlite {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 98px;
  text-shadow: 3px 3px 0px #F8D930;
}
div.subtitle {
  position: absolute;
  top: 320px;
  left: 31px;
}
h2.highlite {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: #0B141D;
}
div.price_button_header {
  position: absolute;
  left: 33px;
  top: 462px;
}
/* About section */
section.about {
  position: absolute;
  width: 1200px;
  height: 747px;
  /* margin: 150px auto 56px auto; */
  top: 803px;
  left: 50%;
  margin-left: -600px;
  background: url("img/about_bg.jpg") no-repeat top left;
}
div.about_title {
  position: absolute;
  top: 90px;
  left: 742px;
}
div.about_left {
  display: inline-block;
}
div.about_right {
  position: absolute;
  left: 742px;
  top: 190px;
  height: 557px;
  background: url("img/about_bg_right.png") no-repeat bottom right;
}
p.about_big {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 140%;
  /* or 42px */
  color: #0B141D;
}
div.about_text_top {
  position: absolute;
  top: 200px;
}
div.about_text_bottom {
  position: absolute;
  top: 324px;
}
p.about_number {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 140%;
  /* identical to box height, or 112px */
  color: #fff;
  -webkit-text-stroke: 1px black;
  text-shadow:
    2px 0 0 #F8D930, /* Тень вправо */ 0 2px 0 #F8D930; /* Тень вниз */
}
div.about_first_word_age {
  position: absolute;
  top: 194px;
  left: 386px;
}
div.about_number_age {
  position: absolute;
  top: 173px;
  left: 426px;
}
div.about_second_word_age {
  position: absolute;
  top: 244px;
  left: 536px;
}
div.about_first_word_countries {
  position: absolute;
  top: 387px;
  left: 420px;
}
div.about_number_countries {
  position: absolute;
  top: 366px;
  left: 496px;
}
div.about_second_word_countries {
  position: absolute;
  top: 436px;
  left: 602px;
}
div.about_first_word_classes {
  position: absolute;
  top: 580px;
  left: 380px;
}
div.about_number_classes {
  position: absolute;
  top: 559px;
  left: 450px;
}
div.about_second_word_classes {
  position: absolute;
  top: 630px;
  left: 575px;
}
/* Contact section */
section.contact {
  position: absolute;
  width: 1200px;
  height: 814px;
  top: 5528px;
  left: 50%;
  margin-left: -600px;
  margin-top: -90px;
  background-color: #fff;
  background-image: url("img/contact_bg.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
}
div.contact_name {
  position: absolute;
  top: 245px;
  left: 743px;
}
div.contact_phone {
  position: absolute;
  top: 321px;
  left: 743px;
}
div.contact_email {
  position: absolute;
  top: 397px;
  left: 743px;
}
div.contact_comment {
  position: absolute;
  top: 473px;
  left: 743px;
}
input.contact {
  width: 337px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #FDD418;
  background: transparent;
  text-indent: 20px;
  border-bottom-color: #F8D930;
  border-bottom-width: thin;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}
p.buttontext_dark {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  letter-spacing: 0.26em;
  color: #FDD418;
}
button.signup_dark {
  width: 260px;
  height: 63px;
  background: transparent;
  border-radius: 3px;
  border-color: #F8D930;
  border-style: solid;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
div.contact_signup {
  position: absolute;
  top: 608px;
  left: 743px;
}
div.contact_checkbox {
  position: absolute;
  top: 688px;
  left: 743px;
  width: 300px;
}
img.checkbox {
  display: inline-block;
}
p.contact_checkbox {
  position: absolute;
  top: 2px;
  left: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #FDD418;
  display: inline-block;
}
/* Footer section */
footer {
  position: absolute;
  width: 1200px;
  height: 228px;
  top: 6250px;
  left: 50%;
  margin-left: -600px;
  background-color: #0C1729;
}
div.footer_logo {
  position: absolute;
  top: 56px;
  left: 34px;
}
h2.footer_logo {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  /* identical to box height */
  color: #F8D930;
}
p.footer_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FDD418;
  margin-top: 9px;
}
div.footer_politic {
  position: absolute;
  top: 61px;
  left: 308px;
}
div.footer_oferta {
  position: absolute;
  top: 147px;
  left: 308px;
}
div.footer_links_left {
  position: absolute;
  top: 59px;
  left: 641px;
}
div.footer_links_right {
  position: absolute;
  top: 59px;
  left: 1080px;
}
div.footer_mastercard {
  position: absolute;
  top: 70px;
  left: 930px;
}
div.footer_visa {
  position: absolute;
  top: 105px;
  left: 930px;
}